<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../static/css/main.css" />

</head>
<body>

<div th:replace="fragments/header :: header" ></div>

<div class="container">

    <h1>Login</h1>

    <div class="starter-template">
        <form th:action="@{/login}" method="post">
            <p>
                <label>Name</label>
                <input type="text" name="username" />
                <label>Password</label>
                <input type="password" name="password" />
            </p>
            <p>
                <input type="submit" value="Login" />
            </p>
        </form>
    </div>
</div>

</body>
</html>